body {
    background-color: lightblue;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

#heading1 {
    color: yellow;
}

/* div~p {
    background-color: lightgreen;
} */

p:nth-child(1) {
    background-color: lightgreen;
}